body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

.card {
  background-color: cadetblue;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-body {
  padding: 30px;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btn{
  background-color: #d9ead3;
  color: black;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #8db77e;
}

.text-center {
  margin-top: 20px;
}

